<main>
    <section class="card">
        <h1>Veículo</h1>

        <select id="veiculo" name="veiculo">
            <option value="" disabled selected>
                Selecione uma opção
            </option>

            <option value="ranger">Ranger</option>
            <option value="mustang">Mustang</option>
            <option value="territory">Territory</option>
            <option value="bronco">Bronco Sport</option>
        </select>

    </section>

    <section class="card">
        <h1>Total de Vendas</h1>
        <p>Aqui ficara a quantidade de vendas</p>
        <p>Unid</p>
    </section>


    <section class="card">
        <h1>Conectados</h1>
        <p>Aqui ficara a quantidade de conectados</p>
        <p>Unid</p>

    </section>

    <section class="card">
        <h1>Update Software</h1>
        <p>Aqui ficara a quantidade de atualizações de software</p>
        <p>Unid</p>
    </section>
</main>